[submodule "src/data/lw.machines"]
	path = src/data/lw.machines
	url = https://github.com/LaserWeb/lw.machines
[submodule "src/data/lw.materials"]
	path = src/data/lw.materials
	url = https://github.com/LaserWeb/lw.materials.git
