[submodule "src/data/lw.machines"]
	path = src/data/lw.machines
	url = https://github.com/easytarget-org/lw.machines.git
[submodule "src/data/lw.materials"]
	path = src/data/lw.materials
	url = https://github.com/easytarget-org/lw.materials.git
