.quadrantField {float:right}
.quadrantField .bkg { fill:#4C4D4D; }
.quadrantField circle {fill: white}
.quadrantField .area:not(.disabled):hover circle {fill: #cFd}

.quadrantField path {fill:black}
.quadrantField .area.disabled {opacity: 0.2}
.quadrantField .area.active circle {fill: #0e3}

.checkboxListField { max-height: 400px; overflow-y:auto; overflow-x:hidden; margin-bottom: 0.5em; border: 1px solid #eee; border-radius: 5px; padding: 0.5em }

.input-group .Select-menu-outer {z-index: 10}
