.quadrantField {float:right}
.quadrantField .bkg { fill:#4C4D4D; }
.quadrantField circle {fill: white}
.quadrantField .area:not(.disabled):hover circle {fill: #cFd}

.quadrantField path {fill:black}
.quadrantField .area.disabled {opacity: 0.2}
.quadrantField .area.active circle {fill: #0e3}

.checkboxListField { display:flex; flex-wrap: wrap; align-items: flex-start }
.checkboxListField > .checkbox {flex-grow:1; margin:0; padding:3px}