@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/* Global */

body, html, .full-height {
    height: 100%;
}

/*Hack for smaller inputs / selects in BS */
.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

#laserweb > div {
    display: flex;
}

#sidebar, #workspace {
    overflow: hidden;
}

#sidebar {
    flex-grow: 1;
    min-width: 60px;
    /*max-width: 380px;*/
    display: flex;
}

#sidebar .dock, #sidebar .panes {
    /*float: left;*/
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar .dock .notification {display:block; position:absolute; right:-5px; top:-7px; color: white; background: red; height: 20px; width: 20px; border-radius: 10px; font-size: 7px; line-height: 22px}

#sidebar .dock {
    min-width: 60px;
    flex-grow:0;
}

#sidebar .panes {
    flex-grow:1;
}

#workspace {
    flex-grow: 10;
    display: flex;
    flex-direction: column;
}

#workspace-top {
    flex-grow: 1;
    position: relative;
}

.workspace-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.workspace-overlay {
    pointer-events: none;

}

.workspace-overlay.jog {
   border: 5px solid #66F;
    opacity: 0.5
}
.workspace-overlay.jog:after { color: #66F; content:"Jog Mode"; font-size: 12px; text-transform: uppercase; position:absolute; right:2px; font-weight: bold}

#workspace-controls {
    flex-grow: 0;
    flex-shrink: 0;
}

.floating-controls {
    background-color: white; z-index:950
}

.floating-controls td {
    padding-left: 2px;
}

.floating-controls input[type="number"] {
    width: 54px;
}

/* Dock */

#sidebar .dock {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #222;
}

#sidebar .dock li {
    color: #eee;
    display: block;
    cursor: pointer;
    padding: 5px 5px;
    text-align: center;
    line-height: 60px;
}

#sidebar .dock li div {
    vertical-align: middle;
    display: inline-block;
    line-height: 1.2;
}

#sidebar .dock li:hover {
    color:#fdbb30;
}

#sidebar .dock li.active {
    color: #000;
    padding: 4px 5px;
    background-color: #fff;
    border-right: solid 6px #fff;
    border-top: solid 6px #202121;
    border-left: solid 6px #68AE00;
    border-bottom: solid 6px #202121;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#sidebar .dock li.active.dimmed {
     border-left: solid 6px #388E00;
}

#sidebar .dock li.active:hover {
    color:#000;
}

#sidebar .dock li i {
    font-size: 1.6em;
}

#sidebar .dock li span {
    display: block;
    max-width: 50px;
    font-size: 0.8em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Panes */

#sidebar .pane, #sidebar .pane-content {
    height: 100%;
    overflow: hidden;
}

#sidebar .pane-content {overflow-y:auto}

#sidebar .panes .pane {
    display: none;
    padding: 10px 0px 10px 10px;
}

#sidebar .panes .pane.active {
    display: block;
}

#sidebar .panes .pane-title {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px #ccc dashed;
}

#sidebar .panes .pane-settings .panel .panel-heading .label,
#sidebar .panes .pane-settings .panel .react-toggle,
.form-group.toggle-right .react-toggle
{
    float:right
}

.form-group .input-group-addon ,
.form-group label, h5.header { text-transform: uppercase; font-size: smaller; }
h5.header {font-weight: bold}

.form-control-feedback {margin-left: -36px; display:inline-block; right:auto}

.form-compact .form-group {
  font-size: 0.8em;
}

.form-compact .form-control {
  padding-left: 2px;
  height: 24px;
  font-size:1em;
}
.form-compact label {
  margin-bottom: 1px;
}
.form-compact .form-group
{
  margin-bottom:1px;
}

.form-compact .has-feedback .form-control {padding-right: 36px}
.form-compact .form-control-feedback  {line-height: 26px}

/* Workspace */



.splitpane >.splitter {
  flex: 0 0 auto;
  width: 1px;
  min-height: 200px;
  cursor: col-resize;
  border-left: 1px #ccc dashed;
  border-right: 1px #ccc dashed;
}

.folded > .Pane1{
    flex-grow:0;
    max-width:60px;
}

.folded #sidebar .dock li.active {border-left-color: #185E00}

.operations, .operations table {
    width:100%; font-size: small
}

.operation-row {
    background-color:#eee;
}

.operation-row.disabled > * {
    opacity:0.5;
}
.operation-row.disabled > *:first-child {
    opacity:1
}

.operation-row:nth-child(even) {
    background-color: #ddd;
}

.operations td {
    padding-left: 4px;
    padding-right: 4px;

}

.operations td > input {width: 100%}
.operations td label {font-weight: normal}
.operations tr >* {border-bottom: 1px solid #e9e9e9}

.operationDoc {
    user-select: 'none';
    cursor: 'pointer';
    text-decoration: 'bold';
    color: '#FFF';
    padding-left: 5;
    padding-right: 5;
    background-color: '#337AB7';
    border: '1px solid #2e6da4';
    border-radius: 2;
}

.error-bubble-clip {
    position: fixed;
    z-index: 100;
    width: 2000px;
    overflow: hidden;
    pointer-events: none;
}

.error-bubble {
    position: absolute;
    pointerEvents: all;
    transform: translateY(-50%);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.error-bubble-arrow {
    content: ' ';
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #d9534f;
    display: inline-block;
}

.error-bubble-message {
    background-color: #d9534f;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}

/*Collapsing*/
.collapsing {
    -webkit-transition: none;
    transition: none;
}

/*Command History*/
.commandHistory {padding-top: 4px; position:relative; margin-bottom: 4px; padding-bottom:2em; background: #ffffff; border: 1px solid #ccc; border-radius:4px; overflow: hidden; width: 1%;}
.commandHistory .code:empty:before { font-size: 0.8em; content:"empty command history"; color: #ccc;}
.commandHistory .code { height: 10em; display:block;  overflow:auto;  background: none}
.commandHistory .form {position:absolute; bottom: 0; width: 100%; display:flex; align-items: center; border-top: 1px dotted #f6f6f6}
.commandHistory input[type="text"] {width: 100%; background: none; border:none}
.commandHistory .toolbar { padding-right: 4px; white-space:nowrap;  }
.commandHistory code {display:block;  font-size: 0.7em; background: none; color: black; border-bottom: 1px dotted #f6f6f6; font-family: 'Inconsolata', monospace;  padding-left:1em; margin-left: 0.25em }
.commandHistory code i {margin-left: -1em}
.commandHistory code.danger {background: #fee}
.commandHistory code.danger i {color: red}
.commandHistory code.warning {background: #ffa}
.commandHistory code.warning i {color: #f90}
.commandHistory code.success {background: #efe}
.commandHistory code.success i {color: #0a0}
.commandHistory details {display:inline-block}

/*FullSizeModal*/

.full-width {width: 100%}

.full-width .modal-dialog {
  width: 98%;
  max-height: 92%;
  padding: 0;
}

.full-width .modal-content {
  max-height: 99%;
}

.clearfix {display: block; clear:both}

/* macros*/
.macros select {width: 100%; font-size: 0.8em}

/* Jog Panel */

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #fff;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
}


button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover{
    outline:none !important;
}

.centerTable td
{
    text-align:center;
    vertical-align:middle;
    padding-bottom: 5px;
    padding-top: 5px;

}

.btn-ctl {
    padding: 12px 18px;
    border-radius: 4px;
}

.btn-sd {
    padding: 15px 48px;
    border-radius: 4px;
}

.btn-jog {
    padding: 12px 18px;
    border-radius: 4px;
}

.btn-highlight {
    border-color: red !important;
}

.btn.btn-off {
    background: black;
    color: white;
    border-color: black
}

.fa-stack{
    width: 1.28571em;
}

.icon-bot-text { margin-left: -3px; margin-top: 16px; font-size: 10px;}
.icon-top-text { margin-left: -3px; margin-top: -16px; font-size: 10px; }
.icon-text { margin-top: 16px; font-size: 11px; font-weight: bold;}

.drolabel {
    display:inline-block;
    background-color: #dddddd;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 3px;
    font-size: 20px;
    width: 50px;
    border: 1px solid #aaa;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 3px;
    cursor: default;
}

.dro {
    display:inline-block;
    background-color: #ffffff;
    text-align: left;
    padding-left: 18px;
    margin-bottom: 3px;
    font-size: 18px;
    width: calc(99% - 85px);
    border: 1px solid #ccc;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
    /*font-family: '8bit';*/
}
.droPos {
    display:inline-block;
    background-color: #ffffff;
    text-align: right;
    padding-right: 18px;
    margin-bottom: 3px;
    font-size: 20px;
    width: calc(99% - 115px);
    border: 1px solid #ccc;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 10px;
    cursor: default;
    /*font-family: '8bit';*/
}

.droUnit {
    display:inline-block;
    background-color: #ffffff;
    text-align: center;
    /*padding-left: 3px;
    padding-right: 3px;*/
    padding-top: 9px;
    padding-bottom: 2px;
    font-size: 12px;
    width: 38px;
    border: 1px solid #ccc;
    font-weight: bold;
    margin-left: 4px;
    margin-right: 3px;
    margin-bottom: 3px;
    cursor: default;
    /*font-family: '8bit';*/
}

.droOR {
    display:inline-block;
    background-color: #ffffff;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    cursor: default;
    padding-right: 18px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    width: calc(99% - 118px);
    /*font-family: '8bit';*/
}


.droR {

    display:inline-block;
    background-color: #ffffff;
    text-align: left;
    padding-left: 18px;
    margin-bottom: 3px;
    font-size: 20px;
    width: 85px;
	  height: 31px;
    border: 1px solid #aaa;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
    cursor: default;
    /*font-family: '8bit';*/
}
/* Badget over Glyphs */

.badge-notify {
    background-color: #cc0000;
    color: #fff;
    position:relative;
    bottom: 5px;
    right: 0px;
}


.badge-ok {
    background-color: #008800;
    color: #fff;
    position:relative;
    bottom: 5px;
    right: 0px;
}


.badge-warn {
    background-color: #cc9900;
    color: #fff;
    position:relative;
    bottom: 5px;
    right: 0px;
}


.badge-busy {
    background-color: #1568bc;
    color: #fff;
    position:relative;
    bottom: 5px;
    right: 0px;
}

/* Bootstrap Callout */
.bs-callout {
    padding: 6px;
    margin: 6px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #ffffff;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.scale50{
    -ms-transform: scale(0.5, 0.5); /* IE 9 */
    -webkit-transform: scale(0.5, 0.5); /* Safari */
    transform: scale(0.5, 0.5); transform-origin: left center;
}
.scale75 {
    -ms-transform: scale(0.75, 0.75); /* IE 9 */
    -webkit-transform: scale(0.75, 0.75); /* Safari */
    transform: scale(0.75, 0.75);
    transform-origin: left center;
}

#ApplicationSnapshot > section {margin-bottom: 0.5em}

.btn-attention.btn-warning {position:relative}
.btn-attention.btn-warning:after { content: '\2219'; color: red; font-size: 80px; position:absolute; line-height: 6px; top:-7px; right:-10px; text-shadow: 0px 0px 2px white }

.details.operationGroup {margin-left: 0; }

.dot > span {background: rgb(130, 200, 255)}

.vex-dialog-input label {display:block; font-weight: normal}
.vex-dialog-input select {width:100%}

.pane-settings .details {
    margin-left:0;
}

canvas.ImagePort {width: 100%; height:100%; background:#ffffff; pointer-events:'none'; box-shadow: 10px 10px 10px rgba(0,0,0,0.5); border: 1px solid #666; padding: 10px}


.trace-image .showroom {display:flex; flex-direction: row; align-items: center;}
.trace-image .showroom > * {
    flex-grow: 1; max-width: 50%; max-height:400px; border: 5px solid #eee
}
.trace-image .controls {display:flex; flex-direction: row; align-items: flex-start;}
.trace-image .controls > div {
     width: 50%; 
}
.trace-image .controls > div + div { padding: 0 5px}
.trace-image .controls > div > div {display: flex; flex-direction: row; align-items: flex-start; align-content: flex-start}
.trace-image .controls > div > div > * {
    flex-grow: 1; width: 50%
}



.checker {
    background-image:
      -moz-linear-gradient(45deg, rgba(0,0,0,0.1) 25%, transparent 25%), 
      -moz-linear-gradient(-45deg, rgba(0,0,0,0.1) 25%, transparent 25%),
      -moz-linear-gradient(45deg, transparent 75%, rgba(0,0,0,0.1) 75%),
      -moz-linear-gradient(-45deg, transparent 75%, rgba(0,0,0,0.1) 75%);
    background-image:
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0,0,0,0.1)), color-stop(.25, transparent)), 
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0,0,0,0.1)), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0,0,0,0.1))),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0,0,0,0.1)));

    -moz-background-size:50px 50px;
    background-size:50px 50px;
    -webkit-background-size:50px 51px; 
    
    background-position:0 0, 25px 0, 25px -25px, 0px 25px;
}

.react-draggable { z-index:900 }

.rangeInput { margin: 5px; display:flex; flex-direction: row }
.rangeInput input { flex-grow: 1}


.hr {border-top: 1px solid rgba(0,0,0,0.1); margin-top:5px}

.btn-toolbar-default {background-color: #eee; padding: 2px}
.btn-colorPicker {display:inline-flex; align-items: top }
.btn-colorPicker .btn {border-right:none}
.btn-colorPicker input[type="color"] {margin: 0 2px 0 0}

.releases > div {

     max-height: 10em; width: 98%;
     overflow-y: auto;
     padding: 0.5em; margin: 1em 0 1em 0; border: 1px solid green; 
     border-radius: 5px
}