/* Global */

body, html, .full-height {
    height: 100%;
}

#laserweb > div {
    display: flex;
}

#sidebar, #workspace {
    overflow: hidden;
}

#sidebar {
    flex-grow: 1;
    min-width: 80px;
    /*max-width: 380px;*/
    display: flex;
}

#sidebar .dock, #sidebar .panes {
    /*float: left;*/
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar .dock {
    min-width: 80px;
    flex-grow:0;
}

#sidebar .panes {
    min-width: 300px;
    flex-grow:1;
}

#workspace {
    flex-grow: 10;
    min-width:500px;
    display: flex;
    flex-direction: column;
}

#workspace-top {
    flex-grow: 1;
    position: relative;
}

.workspace-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.workspace-overlay {
    pointer-events: none;
}

#workspace-controls {
    flex-grow: 0;
    flex-shrink: 0;
}

/* Dock */

#sidebar .dock {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #222;
}

#sidebar .dock li {
    color: #eee;
    display: block;
    cursor: pointer;
    padding: 10px 5px;
    text-align: center;
    line-height: 60px;
}

#sidebar .dock li div {
    vertical-align: middle;
    display: inline-block;
    line-height: 1.2;
}

#sidebar .dock li:hover {
    color:#fdbb30;
}

#sidebar .dock li.active {
    color: #000;
    padding: 4px 5px;
    background-color: #fff;
    border-right: solid 6px #fff;
    border-top: solid 6px #202121;
    border-left: solid 6px #68AE00;
    border-bottom: solid 6px #202121;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#sidebar .dock li.active:hover {
    color:#000;
}

#sidebar .dock li i {
    font-size: 2em;
}

#sidebar .dock li span {
    display: block;
    max-width: 50px;
    font-size: 0.8em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Panes */

#sidebar .panes .pane {
    display: none;
    padding: 10px;
}

#sidebar .panes .pane.active {
    display: block;
}

#sidebar .panes .pane-title {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px #ccc dashed;
}

#sidebar .panes .pane-content .input-group .input-group-addon {
    width:auto
}

/* Workspace */



.splitpane >.splitter {
  flex: 0 0 auto;
  width: 1px;
  min-height: 200px;
  cursor: col-resize;
  border-left: 1px #ccc dashed;
  border-right: 1px #ccc dashed;
}

#sidebar.folded {
    flex-grow:0;
    max-width:0;
}
