
/*FullSizeModal*/

.full-width {width: 100%}

.full-width .modal-dialog {
  width: 98%;
  max-height: 92%;
  padding: 0;
}

.full-width .modal-content {
  max-height: 99%;
}


/* reeact-bootstrap-table*/

.clearfix {display: block; clear:both}


.flexTHead {border-bottom: 1px solid #ccc}
.flexTable .tableRow.collapsible {cursor: s-resize;}
.flexTable .collapsible:hover {background: rgb(188, 232, 241)}
.flexTable .tableRow.collapsible.opened {cursor: n-resize }
.flexTable .tableRow label {width: 100%}

.flexTable .flexTBody .column {align-items:none}
.flexTable .flexTBody .column > div {width:100%; overflow:visible !important}
.flexTable .flexTBody .column._actions {flex:none !important; text-align: right}
.flexTable .flexTBody .column._actions div {line-height: 0}
.flexTable .flexTBody .column input,
.flexTable .flexTBody .column select,
.flexTable .flexTBody .column textarea {width:100%}



.materialOperations .flexTHead .column > div{font-size: 0.8em; text-transform: uppercase; white-space: normal !important}
.materialList .column .has-error > * {border: 1px solid red}
.materialList .column .has-error:empty {border:none}
.materialList .column .has-error:empty:after {color: #faa; content:"not defined"; font-style:italic; font-size: 0.9em}

.materialOperations .well {margin-top:1em}
.materialList {max-height: 400px; overflow-y:auto; overflow-x: hidden}
.materialList .form-group {margin-bottom: 0}
.materialList .form-group.has-error input {border: 1px solid red}



.materialPicker small {color: #666; flex-grow: 2; text-align: right}


.materialPicker .details {margin-top: 2px; margin-left: 1em}
.materialPicker  > section > heading  {display:flex; flex-direction: row; align-items: center; border-bottom: 1px solid #eee; }

.materialPicker .details .handler {display:flex; flex-direction: row; align-items: center; flex-grow:2}
.materialPicker .details .handler > * {flex-grow:1}
.materialPicker .details heading button {margin-left: 5px}
.materialPicker .details heading {display:flex;margin:0}
.materialPicker .details heading .summary { display:flex; flex-grow:1}
.materialPicker .details heading .summary small {margin-left: 1em}
.materialPicker table {font-size: 0.8em; margin-left: 1.2em; width: 98%; margin-top:0.5em}
.materialPicker table td, 
.materialPicker table th {padding: 2px !important}
.materialPicker table td {text-align: right}

.nestedTableWrapper {margin-Left: 10px; padding-left:3px; border-Left: 3px solid #ccc; border-top: 1px solid #f6f6f6}


#materialsPane {min-width: 200px}
#materialsPane heading {display:block; border: 1px solid #eee; padding: 2px; margin-bottom: 1px; border-radius: 5px}
#materialsPane heading:hover {background: #f6f6f6}
#materialsPane heading > * {display:block}
#materialsPane heading h5 {margin-top: 0}
#materialsPane heading small { margin: 0 0 5px 5px}
#materialsPane heading.active {background: rgba(0, 126, 255, 0.08); border: 1px solid rgba(0, 126, 255, 0.24)}