.webcamViewport {border: 1px solid #eee; position:relative; width: 100%; height:100%; overflow:hidden}
.webcamViewport img[src="#"] {display:none}
.webcamViewport video {display:none}

.perspectiveWebcam .viewPort { position:relative; overflow:hidden;}

.coordinator {pointer-events: none}
.coordinator .symbol {pointer-events: all}

.videoControls table input[type=number]{width: 4em}