/* Layout */

html,
body,
#laserweb {
    height: 100%;
    min-width: 640px;
}

#dock,
#panes,
#workspace {
    float: left;
    height: 100%;
    overflow: auto;
}

#dock {
    width: 80px;
}

#panes {
    width: 300px;
    padding: 10px;
}

#workspace {
    padding: 10px;
    width: calc(100% - 380px);
}

/* Dock */

#dock {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #222;
}

#dock li {
    color: #eee;
    display: block;
    cursor: pointer;
    padding: 10px 5px;
    text-align: center;
}

#dock li:hover {
    color:#fdbb30;
}

#dock li.active {
    color: #000;
    padding: 4px 5px;
    background-color: #fff;
    border-right: solid 6px #fff;
    border-top: solid 6px #202121;
    border-left: solid 6px #68AE00;
    border-bottom: solid 6px #202121;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#dock li.active:hover {
    color:#000;
}

#dock li i {
    display: block;
    font-size: 2em;
}

#dock li span {
    display: block;
    font-size: 0.8em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Panes */

#panes {
    border-right: 1px #ccc dashed;
}

#panes .info {
    font-size: 0.9em;
    padding: 5px 10px;
}

/* Workspace */

#workspace {
    background-color: #efefef;
}
